.AppLogo {
	float: left;
    background-color: #b0e0e6;
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 130px;
}

.TopBarSocialIcons {
	float: right;
    background-color: #b0e0e6;
}