.menu {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
	background-color: #000000;
	color: #FFFFFF;
	margin: 0;
	border-radius: 7px;
	font-family: Jura;
}

.menu:hover {
    opacity: 0.7;
}

ul {
    list-style-type: none;
    top: 0;
    width: 100%;
	
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    float: left;
	margin: 10px;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}